body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 300;
    margin: 3cm;
    padding-bottom: 1cm;
    border: 5px solid black;

}
h1 {
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
.image {
    text-align: center;
}
.main {
    text-align: center;
    font-size: larger;
}
.explainer {
    text-align: center;

}
.main input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }

